<div class="container my-3" id="app" v-cloak>
    <div class="alert alert-danger mb-3" v-if="errorMessage != null">{{ errorMessage }}</div>
    <div class="row my-3" v-for="(value, pin) in pins">
        <div class="col">
            <button type="button" class="btn btn-block" v-bind:class="classes(value)" v-bind:disabled="busy" v-on:click="toggle(pin)">
                Pin #{{ pin }}
            </button>
        </div>
    </div>
</div>

<script src="Script.js"></script>